:root {
  --main-text-color: #ffffff;
  --secondary-text-color: #BEC1C0;
  --warning-text-color: #FEB702;
  --warning-dark-text-color: #B78503;
  --pink-color: #C3008D;
  --disabled-text-color: #515151;

  --body-background: #000000;
  --block-backgrond: rgba(255, 255, 255, 0.5);
  --block-dark-backgrond: #1F1F1F;
  --image-background: #252424;
  --progress-background: #353535;
  --progress-active-background: #B6B6B6;
  --light-border-color: #3B3A3A;

  --big-border-radius: 16px;
  --base-border-radius: 12px;
  --small-border-radius: 10px;
  --page-horizontal-offset: 16px;
  --page-bottom-offset: 20px;
  --page-top-offset: 12px;

  --button-base-background: #ffffff;
  --button-warning-background: linear-gradient(90deg, #FFA800 0%, #F47F3C 100%);
  --button-primary-background: #007AFF;
  --button-info-background: #323338;
  --button-disabled-background: #868686;

  --card-background: rgba(217,217,217, 0.2);
  --card-border-radius: 24px;
  --card-body-offset: 24px 16px
}